.container {
    border: 1px solid #DDDDDD;
    width: 200px;
    height: 200px;
    position: relative;
}
.tag {
    float: left;
    position: absolute;
    left: 30px;
    top: 40px;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

#hi {
    float: left;
    position: absolute;
    left: 170px;
    top: 40px;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}